body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--body-background);
}

.header {
    height: 80px;
    width: 100%;

    background: #EDEFF2FF;
}

.header .arrow:hover {
    color: transparent;
    text-decoration: none;
}

.header .resumes-control-title {
    margin-left: 10px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    color: #4A586EFF;
}

.header .arrow-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 35px 0 -9px 25%;
    background: #FFFFFF;
    display: inline-block;
    text-align: center;
}

.header .arrow-dot img {
    width: 12px;
    margin-top: 0;
    margin-left: 1px;
    display: inline-block;
}

.footer {
    height: 80px;
    width: 100%;

    position: absolute;
    bottom:0;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    display: table;

    color: #4A586EFF;
    background: #EDEFF2FF;
    margin-top: 15px;
}

.footer a {
    display:table-cell;
    vertical-align:middle;

}

.footer div {
    width: 100%;
    text-align: center;
}

.scrollable-panel {
    height: calc(100vh - 300px);
    width: 100%;
    margin: 0;
    overflow: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 25px #FFFFFF;
}

.text-anchor {
    text-decoration: none;

}

.text-anchor:hover {
    opacity: 0.8;
    color: #4A586EFF;
    text-decoration: underline;
}

.no-underline-anchor {
    text-decoration: none;
}

.no-underline-anchor:hover {
    opacity: 0.8;
}

.footer-text-anchor {
    color: #4A586EFF;
    text-decoration: none;
    padding: 10px;
}

.footer-text-anchor:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.themes {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    float: right;
    display: flex;
    margin: 40px 24px 0 0;

    color: #4A586EFF;
}

.theme-title {
    width: 45px;
    margin-right: 10px;
}

.theme-selector option {
    color: #FFFFFF;
    background: #4A586EFF;
}

.theme-selector select {
    color: #4A586EFF;
    background: #FFFFFF;
    border: 2px #4A586E;
    border-radius: 5px;
}

.contact-link {
    color: #169FE1FF;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    opacity: 50%;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-radius: 3px;
    background-color: white;
}